@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@100;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geologica&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply dark:bg-slate-950 bg-slate-50 dark:text-slate-50 text-slate-950;
  }
}

@layer utilities {
  .title {
    @apply text-4xl font-extrabold font-display text-transparent bg-clip-text bg-gradient-to-r from-indigo-300 to-slate-50;
  }

  .button-gradient {
    @apply relative overflow-hidden;
    padding: var(--tw-border-width);

    --tw-gradient-scale: 1.2;
    --tw-z-index: 2;
  }

  .button-gradient::after {
    --tw-gradient-rotate: 0deg;

    content: "";
    position: absolute;
    z-index: calc(var(--tw-z-index) - 1);
    top: -100%;
    left: 0;
    bottom: 0;
    right: 0;
    width: calc(100% + calc(var(--tw-border-width) * 2));
    aspect-ratio: 1 / 1;
    transform: rotate(0deg) scale(var(--tw-gradient-scale));
    background: linear-gradient(to right, var(--tw-gradient-stops));
    animation: 2s gradientrotate linear infinite;
  }

  .button-gradient > * {
    position: relative;
    z-index: var(--tw-z-index);
  }

  @keyframes gradientrotate {
    0% {
      transform: rotate(0deg) scale(var(--tw-gradient-scale));
    }
    100% {
      transform: rotate(360deg) scale(var(--tw-gradient-scale));
    }
  }
}
